doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/ext-4.1.1a/ext-all-debug.js')
        link(rel='stylesheet', href='/javascripts/ext-4.1.1a/resources/css/ext-all-gray.css')
    body
//    block content